@using System.Reflection
<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="@_extraAssemblies">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <NotAuthorized>
            <LoginComponent></LoginComponent>
        </NotAuthorized>    
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>
@code {
    public List<Assembly> _extraAssemblies = new List<Assembly>
    {
        typeof(eShop.Web.CutomerPortal.Pages.SearchProductComponent).Assembly,
        typeof(eShop.Web.CutomerPortal.Pages.ViewProductComponent).Assembly,
        typeof(eShop.Web.CutomerPortal.Pages.ShoppingCartComponent).Assembly,
        typeof(eShop.Web.CutomerPortal.Pages.PlaceOrderComponent).Assembly,
        typeof(eShop.Web.CutomerPortal.Controls.CartComponent).Assembly,
        typeof(eShop.Web.CutomerPortal.Pages.OrderConfirmationComponent).Assembly,
        typeof(eShop.Web.AdminPortal.Pages.OutstandingOrdersComponent).Assembly,
        typeof(eShop.Web.AdminPortal.Pages.ProcessedOrderComponent).Assembly
    };
}
